.company-profile-container {

  .page-header-container {
    margin-bottom: 20px;
  }

  .ant-form-item {
    .ant-form-item-label {
      line-height: 1;

      label {
        margin-bottom: 0;
      }
    }
    margin-bottom: 12px;
  }
}