<div class="reset-password-container">
  <section nz-row nzGutter="30">
    <section nz-col nzSpan="12">
      <div class="left-section-container">
        <a href="{{compassProHomePageLink}}" target="_blank">
          <img src="./../../../assets/images/CP-logo.png" alt="">
        </a>
      </div>
    </section>
    <section nz-col nzSpan="12">
      <section class="reset-password">
        <div class="reset-passwordcontainer">
          <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()" autocomplete="off">
            <nz-spin class="login-spin-container" [nzSpinning]="isSpinning">
              <div class="login-image-container">
                <img src={{tenantLogo}} alt="logo">
              </div>
              <!-- <h6 class="text-center  mb-4">
                Reset your password
              </h6> -->
              <h3 class="text-center mb-4 text-uppercase">
                Reset password
              </h3>
              <p class="text-center" *ngIf="isTokenExpired">This link has been expired. Click below to generate again.
                <br><br>
                <a routerLink="/public/reset">Forgot Password</a>
              </p>
              <div *ngIf="!isTokenExpired">
                <nz-form-item class="mt-4">
                  <nz-form-control [nzErrorTip]="errorPassword">
                    <nz-input-group nzPrefixIcon="lock" [nzSuffix]="passwordSuffixTemplate">
                      <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
                        placeholder="Input your new password" (ngModelChange)="updateConfirmValidator()" maxlength="15" />
                    </nz-input-group>
                    <ng-template #passwordSuffixTemplate>
                      <i class="eye-icon" nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                        (click)="passwordVisible = !passwordVisible"></i>
                    </ng-template>
                    <ng-template #errorPassword let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please enter your password!
                      </ng-container>
                      <ng-container *ngIf="control.hasError('pattern')">
                        Should be between 7 to 15 characters in length and contain atleast a number and a special character
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
      
                <nz-form-item class="mt-4">
                  <nz-form-control [nzErrorTip]="errorConfirmPassword">
                    <nz-input-group nzPrefixIcon="lock" [nzSuffix]="confirmPasswordSuffixTemplate">
                      <input [type]="confirmPasswordVisible ? 'text' : 'password'" nz-input formControlName="confirmPassword"
                        placeholder="Confirm your new password" />
                    </nz-input-group>
                    <ng-template #confirmPasswordSuffixTemplate>
                      <i class="eye-icon" nz-icon [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
                        (click)="confirmPasswordVisible = !confirmPasswordVisible"></i>
                    </ng-template>
                    <ng-template #errorConfirmPassword let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Please confirm your password!
                      </ng-container>
                      <ng-container *ngIf="control.hasError('confirm')">
                        Two passwords that you enter is inconsistent!
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
      
                <nz-form-item class="margin-bottom-5 text-center">
                  <nz-form-control>
      
                    <button nz-button class="login-form-button" [nzType]="'primary'" [disabled]="!form.valid"
                      [nzLoading]="isSubmitting">Submit</button>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </nz-spin>
          </form>
        </div>
      </section>      
    </section>
  </section>
</div>