// Font
@font-face {
    font-family: "Gibson Regular";
    src: url("/assets/fonts/gibson/gibsonregular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gibson Semi Bold";
    src: url("/assets/fonts/gibson/gibsonsemibold-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
