// .settings-layout-container .inner-layout {
// position: relative;
// height: 100%;
// width: 100%;
// padding: 0;
// background: #fff;
//   // Restricting font to settings module
//   // Can make global if everyone  agrees
//   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
//     'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
// }

// .settings-layout-container .sider-menu {
//   height: 100%;
// }

// .settings-layout-container .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
//   background-color: transparent;
// }

// .settings-layout-container .ant-menu-inline .ant-menu-item::after {
//   border-right: none;
// }

// .settings-layout-container .ant-menu-inline {
//   border-right: none;
//   overflow: auto;
// }

.settings-layout-container {
  $sidebar-menu-width: 210px;

  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  background: #fff;
  display: flex;

  .sidebar-section {
    width: $sidebar-menu-width;
    height: 100%;
    // border-right: 2px solid #8080803d;
  }

  .main-section {
    // width: calc(100% - 190px);
    // padding: 15px;
    // padding: 12px;
    padding-top: 12px;
    // padding-left: 20px;
    // padding-right: 20px;
    width: calc(100% - 210px);
    // padding: 15px;

    padding-left: 30px;
    padding-right: 30px;
  }
}
