<section class="customer-detail-component-container">
  <section nz-row nzGutter="30">
    <section nz-col [nzSpan]="16">
      <section nz-row nzGutter="30">
        <section nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="firstName">
              First Name
            </nz-form-label>
            <nz-form-control nzErrorTip="Enter valid first name">
              <input class="titlecase" [pattern]="nameRegex" nz-input type="text" required name="firstName"
                [placeholder]="customerFirstNamePlaceholder" [(ngModel)]="customer.firstName" trim="blur" changes
                [changedValue]="customer?.firstName" [changedType]="changedType" [changedField]="'firstName'"
                [changeDescription]="'-'" [changeAdditionalDescription]="'-'" [changedFieldDisplayName]="'First Name'"
                [checkOnlyObjectId]="false" [trimValue]="true">
            </nz-form-control>
          </nz-form-item>
        </section>
        <section nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="lastName">
              Last Name
            </nz-form-label>
            <nz-form-control nzErrorTip="Enter valid last name">
              <input class="titlecase" [pattern]="nameRegex" nz-input type="text" required name="lastName"
                [placeholder]="customerLastNamePlaceholder" [(ngModel)]="customer.lastName" trim="blur" changes
                [changedValue]="customer?.lastName" [changedType]="changedType" [changedField]="'lastName'"
                [changeDescription]="'-'" [changeAdditionalDescription]="'-'" [changedFieldDisplayName]="'Last Name'"
                [checkOnlyObjectId]="false" [trimValue]="true">
            </nz-form-control>
          </nz-form-item>
        </section>
      </section>
      <section nz-row nzGutter="30">
        <section nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzFor="homePhone">
              Home Phone
            </nz-form-label>
            <nz-form-control [nzErrorTip]="homePhoneErrorTemplate">
              <input #homePhone="ngModel" nz-input maxLength="14" type="text" name="homePhone"
                [placeholder]="customerHomePhonePlaceholder" [ngModel]="customer.homePhone | phoneFormat"
                (ngModelChange)="customer.homePhone=$event" trim="blur" [pattern]="phoneRegex" changes
                [changedValue]="customer?.homePhone" [changedType]="changedType" [changedField]="'homePhone'"
                [changeDescription]="'-'" [changeAdditionalDescription]="'-'" [changedFieldDisplayName]="'Home Phone'"
                [checkOnlyObjectId]="false" [trimValue]="true" [formatterType]="'phone'">
            </nz-form-control>
            <ng-template #homePhoneErrorTemplate>
              <ng-container *ngIf="homePhone.errors?.pattern">
                Enter a valid Phone Number
              </ng-container>
              <ng-container *ngIf="homePhone.errors?.phoneMatch">
                Home Phone cannot be same as Office Phone
              </ng-container>
            </ng-template>
          </nz-form-item>
        </section>
        <section nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="officePhone">
              Office Phone
            </nz-form-label>
            <nz-form-control nzErrorTip="Enter valid phone number">
              <input nz-input [pattern]="phoneRegex" maxLength="14" type="text" required name="officePhone"
                [placeholder]="customerOfficePhonePlaceholder" [ngModel]="customer.officePhone | phoneFormat"
                (ngModelChange)="customer.officePhone=$event" trim="blur" changes [changedValue]="customer?.officePhone"
                [changedType]="changedType" [changedField]="'officePhone'" [changeDescription]="'-'"
                [changeAdditionalDescription]="'-'" [changedFieldDisplayName]="'Office Phone'"
                [checkOnlyObjectId]="false" [trimValue]="true" [formatterType]="'phone'">
            </nz-form-control>
          </nz-form-item>
        </section>
      </section>
      <section nz-row nzGutter="30">
        <section nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="email">
              Email
            </nz-form-label>
            <nz-form-control nzErrorTip="Enter valid email">
              <input [pattern]="emailRegex" nz-input type="text" required name="email"
                [placeholder]="customerEmailPlaceholder" [ngModel]="customer.email"
                (ngModelChange)="customer.email=$event.toLowerCase()" trim="blur" changes
                [changedValue]="customer?.email" [changedType]="changedType" [changedField]="'email'"
                [changeDescription]="'-'" [changeAdditionalDescription]="'-'" [changedFieldDisplayName]="'Email'"
                [checkOnlyObjectId]="false" [trimValue]="true">
            </nz-form-control>
          </nz-form-item>
        </section>
        <section nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="businessUnit">
              Business Unit
            </nz-form-label>
            <nz-form-control nzErrorTip="Select a business unit">
              <nz-select required name="businessUnit" nzShowSearch [(ngModel)]="customer.businessUnit.id"
                [nzPlaceHolder]="customerBusinessUnitPlaceholder" changes [changedValue]="customer?.businessUnit?.id"
                [changedType]="changedType" [changedField]="'businessUnit.id'" [changeDescription]="'-'"
                [changeAdditionalDescription]="'-'" [changedFieldDisplayName]="'Business Unit'"
                [checkOnlyObjectId]="false">
                <nz-option *ngFor=" let unit of businessUnits" [nzValue]="unit.id" nzLabel="{{unit.name | titlecase}}">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </section>
      </section>
      <section nz-row nzGutter="30">
        <section nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="role">Status</nz-form-label>
            <nz-form-control nzErrorTip="Select a Status">
              <nz-select name="tagStatus" [nzDisabled]="!customer?.id" [(ngModel)]="customer.status"
                [nzPlaceHolder]="customerStatusPlaceholder" changes [changedValue]="customer?.status"
                [changedType]="changedType" [changedField]="'status'" [changeDescription]="'-'"
                [changeAdditionalDescription]="'-'" [changedFieldDisplayName]="'Status'" [checkOnlyObjectId]="false">
                <nz-option *ngFor="let item of statusDropdown" [nzLabel]="item.label" [nzValue]="item.value">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </section>
        <section nz-col [nzSpan]="12" class="job-notification-container">
          <nz-form-item>
            <nz-form-label></nz-form-label>
            <nz-form-control nzErrorTip="Job notification value not set">
              <section class="switch-container">
                <section class="switch-label">
                  Job Notification
                </section>
                <nz-switch name="jobNotification" [(ngModel)]="customer.jobNotification" changes
                  [changedValue]="customer?.jobNotification" [changedType]="changedType"
                  [changedField]="'jobNotification'" [changeDescription]="'-'" [changeAdditionalDescription]="'-'"
                  [changedFieldDisplayName]="'Job Notification'" [checkOnlyObjectId]="false"></nz-switch>
              </section>
            </nz-form-control>
          </nz-form-item>
        </section>
      </section>
    </section>
    <section nz-col [nzSpan]="8">
      <section class="file-upload-container">
        <app-file-upload [uploadText]="fileUploadText" [imageUrl]="customer?.imageUrl"
          (emitImageLoadingStatus)="handleImageLoading($event)" (emitImageUrl)="setImageUrl($event)">
        </app-file-upload>
      </section>
    </section>
  </section>
</section>
