<section class="change-password-component-container">
  <nz-spin class="change-password-spin-container" [nzSpinning]="isSpinning">
    <section class="change-password-form-container">
      <form #changePasswordForm="ngForm" [nzLayout]="'vertical'" nz-form
        [appMatchFields]="['newPswd', 'confirmNewPswd']" [checkForEquality]="false" (ngSubmit)="onSubmit()">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="oldPswd">Old Password</nz-form-label>
          <nz-form-control nzErrorTip="Enter old password">
            <input [attr.data-cy]="'oldPassword'" #oldPswd="ngModel" nz-input id="oldPswd" type="text" required name="oldPswd"
              [(ngModel)]="oldPassword">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="newPswd">New Password</nz-form-label>
          <nz-form-control [nzErrorTip]="newPasswordErrorTemplate">
            <input [attr.data-cy]="'newPassword'" #newPswd="ngModel" nz-input id="newPswd" type="text" required name="newPswd"
              [pattern]="passwordRegex" [(ngModel)]="newPassword">
          </nz-form-control>
        </nz-form-item>
        <ng-template #newPasswordErrorTemplate>
          <ng-container *ngIf="newPswd.errors?.required">
            Enter new password
          </ng-container>
          <ng-container *ngIf="!newPswd.errors?.required && newPswd.errors.pattern">
            Password must contain at least 8 characters, must contain one lower case, one upper case, one digit and one
            special character
          </ng-container>
        </ng-template>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="cnfrmNewPassword">Confirm New Password</nz-form-label>
          <nz-form-control [nzErrorTip]="confirmPasswordErrorTemplate">
            <input [attr.data-cy]="'confirmPassword'" #confirmNewPswd="ngModel" nz-input id="cnfrmNewPassword" type="password" required
              [pattern]="passwordRegex" name="confirmNewPswd" [(ngModel)]="confirmNewPassword">
          </nz-form-control>
        </nz-form-item>
        <ng-template #confirmPasswordErrorTemplate>
          <ng-container *ngIf="confirmNewPswd.errors?.required">
            Enter confirm password
          </ng-container>
          <ng-container *ngIf="!confirmNewPswd.errors?.required && confirmNewPswd.errors?.phoneMatch">
            New password did not match with the confirmed password
          </ng-container>
          <ng-container
            *ngIf="!confirmNewPswd.errors?.required && !confirmNewPswd.errors?.phoneMatch && confirmNewPswd.errors.pattern">
            Password must contain at least 8 characters, must contain one lower case, one upper case, one digit and one
            special character
          </ng-container>
        </ng-template>
        <nz-form-item nz-row class="register-area mt-4 text-right padding-0 margin-0">
          <nz-form-control>
            <a [attr.data-cy]="'change-password-form-cancel-link'" type="link" class=" link mr-4" (click)="onCancel()">Cancel</a>
            <button [attr.data-cy]="'change-password-form-update-button'" nz-button [disabled]="changePasswordForm.invalid" class="mr-auto" type="submit"
              nzType="primary">Change</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </section>
  </nz-spin>
</section>
