.user-profile-component-container {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  height: 100%;

  .page-header-container {
    margin-bottom: 20px;
  }

  .user-profile-form-container {
    .ant-form-item {
      .ant-form-item-label {
        line-height: 1;

        label {
          margin-bottom: 0;
        }
      }
      margin-bottom: 12px;
    }

    nz-upload {
      nz-upload-list {
        .ant-upload-list-item {
          margin-top: 10px;
        }
      }
    }
  }
}
