<div class="forgot-password-container">
  <section nz-row nzGutter="30">
    <section nz-col nzSpan="12">
      <div class="left-section-container">
        <a href="{{compassProHomePageLink}}" target="_blank">
          <img src="./../../../assets/images/CP-logo.png" alt="">
        </a>
      </div>
    </section>
    <section nz-col nzSpan="12">
      <section class="forgotPasswordSuccessMessage" *ngIf="forgotPasswordSuccessMessage">
        <p>{{forgotPasswordSuccessMessage}}</p>
        <a routerLink="/login">Login!</a>
      </section>
      <section class="forgot-password" *ngIf="!forgotPasswordSuccessMessage">
        <div class="forgot-passwordcontainer">
          <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()" autocomplete="off">
            <div class="login-image-container">
              <img src={{tenantLogo}} alt="logo">
            </div>
            <!-- <h6 class="text-center  mb-4 text-uppercase">
              Forgot Password -->
            <h3 id="forgot-password-title" class="text-center mb-4 text-uppercase">
              Forgot Password
            </h3>
            <!-- <h6 class="text-center  mb-4">
              Did you forget your password?
            </h6> -->
            <p class="text-center">
              Don't worry! Resetting your password is easy. <br />
              Just type in your registered email id
            </p>
            <nz-form-item class="mt-4">
              <nz-form-control nzErrorTip="Enter a valid email">
                <nz-input-group nzPrefixIcon="mail">
                  <input trim="blur" type="text" nz-input formControlName="email" placeholder="Input your email" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
      
            <nz-form-item class="margin-bottom-5 text-center">
              <nz-form-control>
      
                <button nz-button class="login-form-button" [nzType]="'primary'" 
                [disabled]="!form.valid" [nzLoading]="isSpinning">Submit</button>
                Or
                <a routerLink="/login">Login!</a>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
      </section>
      
    </section>
  </section>
</div>
