.estimate-summary-section {
    
    .padding-top-10 {
        padding-top: 5%;
    }

    .ant-statistic-content {
        font-size: 14px;
    }

    nz-statistic {
        margin: 10px 20px;
        width: 16%;

        .ant-statistic-title {
            display: flex;
            align-items: center;
        }

        .statistic-title-span {
            margin: 0 5px;
        }
    }
}