.add-category-component-container {
  .category-form-container {

    .ant-form-item {
      margin-bottom: 15px;

      .ant-form-item-label {
        line-height: 1;
        padding: 0;
      }
    }
  }
}
