.file-upload-component-container {
  width: 100%;
  height: 100%;

  .image-list-container {
    max-height: 200px;
    overflow: auto;

    .image-list-item-container {
      margin-top: 20px;

      .image-list-item-image-container {
        margin-bottom: 10px;
      }

      .image-list-item-name-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;

        .close-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }
  }
}
