.view-customer-container {
    width: 100%;
    height: 100%;

    padding-right: 30px;
    // padding-left: 30px;

    .view-customer-spin-container {
        width: 100%;
        height: 100%;

        .customer-summary-parent-container {
            width: 100%;
            height: 100%;
        }

        .customer-addresses-table-container {
            width: 100%;
            height: 100%;
            padding-left: 30px;
        }

        .customer-projects-table-container {
            width: 100%;
            height: 100%;
            padding-left: 30px;
        }

        .customer-jobs-table-container {
            width: 100%;
            height: 100%;
            padding-left: 30px;
        }
    }
}