<!-- <section class="billing-component-container">
  <section class="page-header-container">
    <app-page-header [subTitle]="subTitle" [description]="description"></app-page-header>
  </section>
  <section class="tab-container">
    <nz-tabset>
      <nz-tab nzTitle="Card">
        <ng-template nz-tab>
          <app-general-table></app-general-table>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Invoices">
        <ng-template nz-tab>
          <app-general-table></app-general-table>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Payment">
        <ng-template nz-tab>
          <app-general-table [tableHeads]="servicesTableHeadings" [tableData]="listOfData"></app-general-table>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Trancsactions">
        <ng-template nz-tab>
          <app-general-table></app-general-table>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </section>
</section> -->
<router-outlet></router-outlet>