<!-- <section style="position: relative; height: 100%;">
    <nz-tabset>
        <nz-tab nzTitle="Business Units">
            <ng-template nz-tab>
                <app-general-table></app-general-table>
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="Job Type">
            <ng-template nz-tab>
                <app-general-table></app-general-table>
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="Tags">
            <ng-template nz-tab>
                <app-general-table></app-general-table>
            </ng-template>
        </nz-tab>
    </nz-tabset>
</section> -->
<router-outlet></router-outlet>